body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin: 0;
}

.header-1 {
    background: #D9D9D94F;
    height: 100px;
    
}


.header-1 .color {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 25px;
}

.header-1 .color div{
    height: 100%;
    width:120px;
}

.header-1 .color .blue {
    background-color: #084356;
}

.header-1 .color .green{
    background-color:#1AAB8C;
}

.header-1 .color .yellow{
    background-color: #FBE9A6;
}

.header-1 .color .orange {
    background-color:#F59865 ;
}


.header-1 .color .red {

    background-color:#D81F37 ;
}


.header1-container {
    display: flex;
    flex-direction: row;
    font-family: 'Carrois Gothic SC';
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-evenly;
}

.header1-container .image {
    width: 64px;
    height: 70px;

}

.header1-container .image img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header1-container a {
    color: rgba(0, 0, 0, 0.66);
    text-decoration: none;
}

.header-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-family: 'Expletus Sans';
    font-weight: 700;
    font-size: 22px;
    background: #D9D9D994;
    height: 80px;
    align-items: center;
}

.header-2 a {
    text-decoration: none;
    color: #000000;
    transition: 0.8s;
}

.header-2 input {
    width: 350px;
    height: 45px;
    border-style: none;
    border-radius: 5px;
}

.header-2 input::placeholder {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}


.header-2 input:hover::placeholder{
    color: black;
}
.header-2 .blue:hover {
    color: #084356;
}

.header-2 .green:hover {
    color: #1AAB8C;
}

.header-2 .yellow:hover {
    color: #FBE9A6;
}

.header-2 .orange:hover {
    color: #F59865;
}