<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../style/css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Expletus+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

</head>

<body>

    <section id="preloader">

    </section>

    <div class="header-1">
        <div class="color">
            <div class="blue"></div>
            <div class = "green"></div>
            <div class="yellow"></div>
            <div class="orange"></div>
            <div class="red"></div>
        </div>
        <div class="header1-container">
            
            <div class="image">
                <img src="../style/image/1 1.png" alt="">
            </div>
            <a href="#">about us</a>
            <a href="#">case study map</a>
            <a href="#">learning library </a>
            <a href="#">our publications</a>
            <a href="#">framework diminutions </a>
        </div>
    </div>

    <div class="header-2">
        <a href="#" class="blue">direction</a>
        <a href="#" class="green">design</a>
        <a href="#" class="yellow">development</a>
        <a href="#" class="orange"> delivery</a>
        <input type="search" placeholder="SEARCH">
    </div>



    <section class="home">

        <section class="sec1">
            <h2>
                WELCOME TO
            </h2>

            <h1>
                YOUR JOURNEY THROUGH
            </h1>

            <h1> CUSTOMER EXPERIENCE</h1>

            <div class="button">
                <button> Be part of the conversation</button>

                <a href="#" class="learn">learn more</a>
            </div>

        </section>

        <section class="sec2">
            <p>
                The International Foundation for Customer Experience in Government is a non-profit organisation
                headquartered in Canada. The foundation is supported by an International Consortium that forms an
                assembly of customer experience thought leaders from around the world. The foundation’s main mission
                is to build a community of thinkers, practitioners, and academics who collaborate to advance a
                customer experience body of knowledge and practice in the public sector.The foundation aims to
                define the conceptual framework for CX in the public sector as well as create and disseminate
                practical transformation tools that are contextually suited for the public sector. The foundation
                creates networking opportunities for passionate public sector customer experience executives,
                practitioners, and researchers across the globe.

            </p>
            <div class="form">
                <form action="" onSubmit="return false;">
                    <h1>Your Details</h1>

                    <div class=" row">
                    <div>
                        <label for="">First name</label>
                        <input type="text" required>
                    </div>

                    <div>
                        <label for="">Last name</label>
                        <input type="text" required>
                    </div>

            </div>


            <div class="row">
                <div>
                    <label for="">E-mail</label>
                    <input type="email" name="email" required>
                </div>

                <div>
                    <label for="">Phone</label>

                    <div class="phone">
                        <input type="tel" class="code" required>
                        <input type="tel" class="tel" required>
                    </div>
                </div>

            </div>

            <div class="row">
                <div>
                    <label for="">Company</label>
                    <input type="text" required>
                </div>

                <div>
                    <label for="">Country</label>
                    <input type="text" required>
                </div>

            </div>

            <div class="conv">
                <label for="">start the conversation</label>
                <input type="text" required>
            </div>
            <input type="submit" name="submit" class="submit">

            </form>
            </div>
        </section>


        <section class="sec3">
            <h1>Thank you </h1>
            <p>we will contact you shortly</p>
        </section>

    </section>

    <section class="footer">

        <div class="info">
            <div class="row-1">
                <div class="column-1">
                    phone number
                    <br>+16134219978

                </div>
                <div class="column-2">
                    address <br>
                    119 Woliston cres,kanata, on, K2W 1G5

                </div>
                <div class="column-3">
                    email <br>
                    info@govcx.org

                </div>

            </div>
            <div class="row-2">
                <div class="row2-1">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-linkedin"></i>
                </div>
                <div class="row2-2">© 2022 | privacy & policy | cookie preferences</div>

            </div>
        </div>


    </section>

    <script src="../style/js/main.js"></script>

</body>

</html>